.sherpa-share{
  background-color:#e6e6e6;
  .share-container{
    max-width:650px;
    width:100%;
    background:white;
    margin:auto;

    .logo-header{
      display: flex;
      justify-content:center;
      align-items:center;
      height: 100px;
      width:100%;
      background:white;
    }
    .main-header{
      width:calc(100% - 10vw);
      height:calc(85% - 10vw);
      background-size:cover;
      display: flex;
      border-left:5vw solid white;
      border-right:5vw solid white;
      border-bottom:5vw solid white;
      align-items:center;
      justify-content: center;
      flex-direction:column;
      position: relative;
      h1,h2{
        text-transform:uppercase;
        color:white;
        text-align: center;
        font-weight:500;
        margin:0;
        z-index:1;
      }
      h1{
        font-size:40px;
        letter-spacing:.1em;
      }
      h2{
        margin-bottom:10px;
        letter-spacing:.22em;
        font-size:14px;
        font-weight:600;
      }

      &:before{
        position: absolute;
        content:' ';
        width:100%;
        height:100%;
        display: inline-block;
        background:rgba(0,0,0,.1);
        left:0;
        top:0;
      }
    }

    .explore-button{
      width:100%;
      padding:15px 0;
      background:#001645;
      color:white;
      display: inline-block;
      text-decoration:none;
      text-align: center;
    }

    #mapInfo{
      width:100%;
      height:250px;
      display: inline-block;
    }
  }
}

@media (max-width: 650px) {
  .sherpa-share {
    .share-container {
      .main-header {
        width: 90vw;
        height: 90vw;
      }
    }
  }
}